/*************
ANIMATION
*************/
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: -100% 0; }
}

@keyframes animateOverlay {
  0% {
    background-color:white;
  }
  30% {
    background-color:blue;
  }
  100% {
    background-color:red;
  }
}
